/*This is used to style the body of the webpage including background pictures, colours, font styles and margins*/

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("../img/background.png");
    background-size: cover;
    margin: 0;
    --white: #ffffff;
    --red: rgb(190, 29, 29);
    --blue: #272759;
    --dark: #333;
    --gray: lightgray;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}


/*This is used to style the navbar of the webpage*/

.nav-bar {
    overflow: hidden;
    background-color: var(--dark);
    color: var(--white);
}


/*This is used to style the link text of the navbar of the webpage*/

.nav-bar h1 {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}


/*This is used to style the select tag of the countries*/

#countries-container select {
    left: 39.24%;
    right: 50.69;
    top: 20%;
    bottom: 78.56%;
    background: #000000;
    border-radius: 15px;
    height: 50px;
}


/*This is used to style the select tag of the cities*/

#cities-container select {
    left: 51%;
    right: 39.17%;
    top: 20%;
    bottom: 78.56%;
    background: #000000;
    border-radius: 15px;
    height: 50px;
}


/*This is used to set the width and position of the options in both the cities and countries dropdown list*/

#countries-container select,
#cities-container select,
option {
    position: absolute;
    color: var(--white);
    width: 150px;
}


/*This is used to style the button*/

button {
    position: absolute;
    left: 39.24%;
    right: 39.17%;
    top: 30%;
    bottom: 70.44%;
    background: #c5940e;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
    width: 21rem;
    text-align: center;
    border: none;
}


/*This is used to style the second child(city name element) of the weather-info div*/

#weather-info :nth-child(2) {
    position: absolute;
    color: var(--white);
    align-items: center;
    font-weight: 600;
    font-size: 76px;
    width: 299px;
    height: 115px;
    left: 670px;
    display: flex;
    top: 265px;
    padding-left: 150px;
    line-height: 172px;
    letter-spacing: -0.045em;
}


/*This is used to style the third child (temperature in Celsius) of the weather-info div*/

#weather-info :nth-child(3) {
    position: absolute;
    color: var(--white);
    align-items: center;
    font-size: 130px;
    width: 91px;
    height: 172px;
    left: 530px;
    display: flex;
    top: 270px;
    line-height: 172px;
    letter-spacing: -0.045em;
}


/*This is used to style the fourth child (weather icons) of the weather-info div by setting margin positions*/

#weather-info :nth-child(4) {
    margin-top: 220px;
    margin-left: 450px;
}


/*This is used to style the last child (date) of the weather-info div*/

#weather-info :last-child {
    position: absolute;
    font-family: 'Noto Sans JP', sans-serif;
    width: 200px;
    height: 29px;
    left: 850px;
    top: 445px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--white);
    align-items: center;
    display: flex;
    letter-spacing: -0.045em;
}


/*This is used to style the other-details div which contains other weather parameters*/

#other-details {
    visibility: hidden;
    color: var(--white);
    margin-top: 120px;
    margin-left: 540px;
    width: 32%;
    height: 120px;
}


/*This is used to style the first child (temperature in Fahrenheit) of the other-details div*/

#other-details :nth-child(1) {
    position: absolute;
    width: 60px;
    height: 29px;
    left: 580px;
    top: 530px;
    font-size: 30px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02rem;
}


/*This is used to style the second child (weather condition) of the other-details div*/

#other-details :nth-child(2) {
    position: absolute;
    width: 89px;
    height: 29px;
    left: 700px;
    top: 600px;
    align-items: center;
    letter-spacing: -0.02rem;
}


/*This is used to style the third child (wind speed in mils/hour) of the other-details div*/

#other-details :nth-child(3) {
    position: absolute;
    width: 89px;
    height: 29px;
    left: 900px;
    top: 555px;
    align-items: center;
    letter-spacing: -0.02rem;
}


/*This is used to style the fourth child (wind speed in km/hour) of the other-details div*/

#other-details :nth-child(4) {
    position: absolute;
    width: 89px;
    height: 29px;
    left: 700px;
    top: 555px;
    align-items: center;
    letter-spacing: -0.02rem;
}


/*This is used to style the fifith child (wind direction) of the other-details div*/

#other-details :nth-child(5) {
    position: absolute;
    display: flex;
    height: 29px;
    left: 900px;
    top: 600px;
    align-items: center;
    letter-spacing: -0.02rem;
}


/*This is used to style the last child (pressure) of the other-details div*/

#other-details :last-child {
    text-transform: none;
    position: absolute;
    display: flex;
    height: 29px;
    left: 580px;
    top: 595px;
    align-items: center;
    letter-spacing: -0.02rem;
}


/*The span tag for the severe weather message is styled here*/

#weather-info>h4>span {
    margin-top: 71px;
    margin-left: -250px;
}


/*This is used to handle screen of 27inches
The position of the button is handled to align properly on bigger screens 
*/

@media only screen and (max-width: 1920px) {
    button {
        position: absolute;
        left: 40.54%;
        right: 39.17%;
        top: 30%;
        bottom: 70.44%;
        background: #c5940e;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 30px;
        font-weight: bold;
        width: 21rem;
        text-align: center;
        border: none;
    }
}


/*This is used to handle screen of 14inches
The position of the button is handled to align properly on laptop screens 
*/

@media only screen and (max-width: 1536px) {
    button {
        position: absolute;
        left: 39.24%;
        right: 39.17%;
        top: 30%;
        bottom: 70.44%;
        background: #c5940e;
        border-radius: 15px;
        padding-top: 20px;
        padding-bottom: 30px;
        font-weight: bold;
        width: 21rem;
        text-align: center;
        border: none;
    }
}